.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  height: 200px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
}

#outlined-basic {
  min-width: 45vw;
  border-radius: 30px;
}
